<div class="bottom">
    <div class="musiccontent">
        <img class="playerimg" src="https://upload.wikimedia.org/wikipedia/en/b/b0/Glass_Animals_-_Heat_Waves.png">
        <div class="musicdetails">
            <span class="musicname" id="currentMusicName">Music Name</span>
            <span class="artist" id="currentArtist">Artist Name</span>
        </div>
    </div>
    <div class="songplayer">
        <div class="playercontroller">
            <i class="fa-solid fa-backward" id="backward"></i>
            <i class="fa-solid fa-backward-step" id="lastmusic"></i>
            <i class="fa-solid fa-circle-play play-button" id="playPause"></i>
            <i class="fa-solid fa-forward-step" id="nextmusic"></i>
            <i class="fa-solid fa-forward" id="forward"></i>
        </div>
        <div class="player">
            <span class="starttimespan">0:00</span><input class="songbar" id="progressbar" type="range" min="0" max="100" value="0"><span class="endtimespan">0:00</span>
        </div>
        </audio>
    </div>
    <div class="volumecontrols">
        <i class="fa-solid fa-volume-high"></i>
        <input class="volumebar" id="volume" type="range" min="0" max="100" value="100">
    </div>
</div>