<div class="navbar">
    <div class="backnext">
        <i class="fa-solid fa-circle-chevron-left" id="#back-button"></i>
        <i class="fa-solid fa-circle-chevron-right" id="#next-button"></i>
    </div>
    <div class="navend">
        <button class="uploadBtn"><i class="fa-solid fa-upload"></i><span> Upload</span></button>
        <button class="signlogin"><i class="fa-regular fa-user"></i></button>
        <div class="signloginmenu">
            <ul>
                <li><i class="fa-solid fa-user-plus"></i> Register</li>
                <li><i class="fa-solid fa-right-to-bracket"></i> Login</li>
            </ul>
        </div>
    </div>
</div>